In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession \
    .builder \
    .appName("Python Spark titanic") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [3]:
df = spark.read.csv("titanic.csv")

In [5]:
df.show(5)

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|        _c0|     _c1|   _c2|                 _c3|   _c4|_c5|  _c6|  _c7|             _c8|    _c9| _c10|    _c11|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35|    1|    0|          113803|   53.1| C123|       S|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [12]:
df.describe().show()

+-------+-----------------+-------------------+------------------+--------------------+----+------------------+------------------+-------------------+------------------+-----------------+----+----+
|summary|              _c0|                _c1|               _c2|                 _c3| _c4|               _c5|               _c6|                _c7|               _c8|              _c9|_c10|_c11|
+-------+-----------------+-------------------+------------------+--------------------+----+------------------+------------------+-------------------+------------------+-----------------+----+----+
|  count|              892|                892|               892|                 892| 892|               715|               892|                892|               892|              892| 205| 890|
|   mean|            446.0| 0.3838383838383838| 2.308641975308642|                null|null| 29.69911764705882|0.5230078563411896|0.38159371492704824|260318.54916792738| 32.2042079685746|null|null|
| stddev|257.3538420152301|0.48659245426485753|0.8360712409770491|                null|null|14.526497332334035|1.1027434322934315| 0.8060572211299488|471609.26868834975|49.69342859718089|null|null|
|    min|                1|                  0|                 1|"Andersson, Mr. A...| Sex|              0.42|                 0|                  0|            110152|                0| A10|   C|
|    max|      PassengerId|           Survived|            Pclass|van Melkebeke, Mr...|male|               Age|             SibSp|              Parch|         WE/P 5735|             Fare|   T|   S|
+-------+-----------------+-------------------+------------------+--------------------+----+------------------+------------------+-------------------+------------------+-----------------+----+----+

In [19]:
import matplotlib.pyplot as plt